{%extends "base.html"%}

{%block content%}
<form action="" method="POST">
    {%csrf_token%}
    <div class="container mt-5 load_data" style="width:660px">
    <div class="input-group mb-3">
        {{ context.form.as_p }}
    </div>
        <button type="submit" class="load_data_button" for="inputGroupFile02" >Upload</button>
    </div>
</form>
<div class="container">
    <div class="alert alert-info text-center fs-2" role="alert">
         <p>Average Price : {{average_price}}</p>
    </div>
</div>





<div class="container">
    <table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Max</th>
      <th scope="col">Min</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{min_price}}</td>
      <td>{{maximum_price}}</td>
    </tr>
  </tbody>
</table>
</div>
    {{DATA|safe}}
    <div class="container">
        {{min}}
    </div>
<div class="recomendation">

<div class="container">
    <h4>Best Month for Buy</h4>
        <ol class="list-group list-group-numbered">
        {%for item in sorted_data_low%}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">{{item.0}}</div>
            {{item.1}}
            </div>
        <span class="badge text-bg-primary rounded-pill">{{ forloop.counter }}</span>
        </li>
        {%endfor%}
        </ol>
    </div>
<div class="container">
    <h4>Best Month for Sold</h4>
    <ol class="list-group list-group-numbered">
    {%for item in sorted_data_hight%}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">{{item.0}}</div>
            {{item.1}}
            </div>
            <span class="badge text-bg-primary rounded-pill">{{ forloop.counter }}</span>
        </li>
        {%endfor%}
    </ol>
    </div>
    </div>
{%endblock%}